// .block {
    
// }

.wrapper {
    max-width: 1600px;
    display: flex;
    justify-content: space-between;
    padding: 20px 40px;
}
// .logo {

// }

.mainMenu ul{
    display: flex;
    gap: 10px;
}

.contactsWrapper {
    display: flex;
    gap: 10px;
}

.contacts a{
    display: block;
}

// .icon

// .contacts