.block {
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    right: 0;
    z-index: 20;
    margin: 0 auto;
    width: 100%;
}

.wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 75px;
}
// .logo {

// }
.mainMenu {
    font-size: .9em;
    font-weight: 500;
    & ul{
        display: flex;
        & li {
            padding: 10px;
        }
    }
    a {
        color: #000;
    }
}

.contactsWrapper {
    display: flex;
    align-items: center;
    gap: 10px;
}

.contacts {
    font-size: .8em;
    font-weight: 600;
    a{
        display: block;
    }
}
// .icon

// .contacts

@media (max-width: 1024px) {
    .mainMenu {
        display: none;
    }
}

@media (max-width: 768px) {
    .block {
        top: 0;
    }
    .wrapper {
        padding: 40px 20px;
    }
    .logo img {
        width: 120px;
    }
}