.contactForm {
    display: flex;
    flex-direction: column;
    margin: 2rem 0 0;

   
    & input, textarea {
        width: 100%;
        border: none;
        border-bottom:  1px solid #000;
        margin-bottom: 28px;
        padding: 10px;
        font-size: 1rem;
        outline: none;
    }
    & button {
        margin-top: auto;
    }
}

.button {
    border: 1px solid var(--accent-main);
    border-radius: 16px;
    background: linear-gradient(270.51deg, #415BC4 0.39%, #363D84 99.61%);
    width: 100%;
    padding: 14px 50px;
    color: #fff;
    // font-size: 24px;
    cursor: pointer;

    &:hover {
        opacity: .9;
    }
}