.block {
    width: 100%;
    height: 100vh;
    padding: 30px;
    
}

.wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 30px;
    overflow: hidden;
    background: url('/images/hero.png') no-repeat;
}

.content {
    padding: 25px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 100px;
}

.heading {
    font-size: 56px;
    width: 65%;
    background: -webkit-linear-gradient(#272D65, #405CC1);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.button {
    border: none;
    border-radius: 16px;
    background: linear-gradient(270.51deg, #415BC4 0.39%, #363D84 99.61%);
    width: fit-content;
    padding: 15px 50px;
    color: #fff;
}
