.section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 50px;
    column-gap: 100px;
    padding: 75px;
  }
  
  .description {
    grid-column: span 2;
    color: #333;
    font-size: 24px;

    & p {
      margin-bottom: 24px;
    }
  }
  
  .statItem {
    padding-top: 10px;
    
    & .counter {
        font-size: 70px;
        font-weight: bold;
        display: block;
        color: #1a2e6c;
        border-bottom: 1px solid #1a2e6c;
      }

      & p {
        margin: 0;
        font-size: 24px;
        color: #333;
        padding-top: 20px;
      }
  }

    @media (max-width: 768px) {
    .description {
        grid-column: span 3;
    }
  
    .stats {
      grid-template-columns: 1fr;
    }
  }
  