.section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 100px;
    padding: 7em 75px;
    position: relative;
    margin-bottom: 0;
  
    &> img {
      opacity: .05;
      z-index: -1;
      object-fit: cover;
    }
  }
  
  .description {
    grid-column: span 2;
    color: #333;
    // font-size: 24px;

    & p {
      margin-bottom: 24px;
    }
  }
  
  .statItem {
    padding-top: 10px;

    
    
    & .counter {
        font-size: 2.9em;
        font-weight: bold;
        display: block;
        color: #1a2e6c;
        border-bottom: 1px solid #1a2e6c;
        margin-top: -.5rem;

        span {
          font-size: 24px;
        }
      }

      & p {
        margin: 0;
        // font-size: 24px;
        color: #333;
        padding-top: 20px;
      }
  }

  @media (max-width: 1200px) {
    .section {
      gap: 50px;
    }
  }

@media (max-width: 768px) {
  .section {
    padding-inline: 20px;
    h2 {
      grid-column: span 3;
    }
  }
  .description {
    grid-column: span 3;
  }

  .statItem {
    grid-column: span 3;
    padding: 0 40px;
  }
  
  .stats {
    grid-template-columns: 1fr;
  }
}
